body {
    margin: 0 auto;
    overflow: hidden;
    background: linear-gradient(red, black);
    background-repeat: no-repeat;
    height: 1000px;
}

.wrap {
    width: 600px;
    margin: 0 auto;
    height: 100%;
    position: relative;
}

ul li .btn {
    width: 500px;
    height: 500px;
    position: absolute;
    /* border-radius: 50%;*/
    background: url("../img/Swastika_nazi.svg.png");
    background-size: cover;
    top: 0;
    right: 25%;
    cursor: pointer;
}

.cnt {
    font-family: Algerian;
    color: red;
    position: absolute;
    top: 24%;
    right: 66%;
}

li {
    list-style-type: none;
}

@media screen and (max-width: 500px) {
    .wrap {
        width: 401px;
        margin: 0 auto;
        height: 600px;
        position: relative;
    }
    ul li .btn {
        width: 284px;
        height: 284px;
        position: absolute;
        /* border-radius: 50%; */
        background: url(../img/Swastika_nazi.svg.png);
        background-size: contain;
        top: 0;
        right: 15%;
        cursor: pointer;
    }
    .cnt {
        font-family: Algerian;
        color: red;
        position: absolute;
        top: 22%;
        right: 50%;
    }
}